* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin-inline: auto;
	padding-inline: 1.5rem;
}

.nav {
	position: fixed;
	width: 100%;
	height: 7rem;
	background-color: #0e101d;
}

.pres {
	background-color: #161a1e;
	padding: 10rem 0 5rem 0;
}

.pres__content {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.student__visual {
	width: 30%;
	aspect-ratio: 1;
}

h1,
h2,
h3,
h4,
span {
	color: #72ff4f;
}

a,
p {
	color: #95ff7b;
}

h1 {
	font-size: clamp(2.5rem, 5vw, 5rem);
	text-align: center;
}

.projects {
	padding: 2rem 0;
	background-color: #1e2229;
}

.projects__title {
	justify-self: center;
	font-size: clamp(2rem, 3vw, 3rem);
}

.cards__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	height: fit-content;
	padding: 2rem 0;
	gap: 2rem;
}

.cards {
	display: flex;
	width: 100%;
	flex-direction: column;
	border-radius: 8px;
	background-color: #16181e;
	padding: 1rem;
	transition: 0.2s ease-in-out;
}

.cards:hover {
	transform: scale(1.05);
	transform-origin: center;
	background-color: #293138;
	border: #353749 2px solid;
	box-shadow: 4px 4px 5px #0e131d,
		-2px -2px 5px #3a4858;
}

.cards__img {
	width: 100%;
	aspect-ratio: 16 / 9;
	object-fit: cover;
}

.cards__content {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}

.cards__content>* {
	margin: 0.5rem 0;

}

.cards__title {
	font-size: clamp(1rem, 2vw, 1.5rem);
}

.cards__language__tags__container {
	display: flex;
	align-self: flex-end;
	flex-wrap: wrap;
	gap: 1rem;
}

.cards__language__tags {
	border: #97fff8 solid 2px;
	height: fit-content;
	font-weight: bolder;
	transition: transform 0.2s ease-in-out;
	border-radius: 4px;
	padding: 0.3rem;
	color: #97fff8;
}

.cards__language__tags:hover {
	transform: scale(1.1);
	transform-origin: center;
	cursor: default;
}

.cards__github {
	margin-top: auto;
	text-decoration: none;
}

.info {
	background-color: #16181e;
	width: 100%;
}

.info__content {
	display: flex;
	width: 100%;
	padding: 1rem 0;
}

.info__left {
	height: 1px;
	width: 50%;
}

.info__right {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.info__links {
	text-decoration: none;
}

@media (max-width: 768px) {
	.cards__container {
		padding: 2rem 1rem;
		grid-template-columns: 1fr;
	}
}

@media (min-width: 769px) and (max-width: 1200px) {
	.cards__container {
		padding: 2rem 0.5rem;
		grid-template-columns: repeat(2, 1fr)
	}
}